@import "./mixins";
//========================================================================================
.page 
{
    .content
    {
        .courses_all
        {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
            margin-left: 20px;
            gap: 20px;
            .courses
            {
                // height: 350px;
                background-color: #fff;
                border-radius: $bor_rad;
                text-transform: capitalize;
                position: relative;
                .courses_info
                {
                   width: 100%;
                   height: 80px;
                   margin-bottom: 50px;
                   text-align: center;
                   position: relative;
                   z-index: 6;
                   &::after
                   {
                       content: "";
                       width: 50%;
                       position: absolute;
                       height: 1px;
                       background-color: #ddd;
                       left: 0%;
                       top: 10px;
                       z-index: -1;
                   }
                   &::before
                   {
                       content: "";
                       z-index: -1;
                       width: 50%;
                       position: absolute;
                       height: 1px;
                       background-color: #ddd;
                       right: 0%;
                       top: 10px;
                   }
                   span 
                   {
                    padding: 8px;
                    background-color: $bluesec;
                    color: #fff;
                    font-size: .8em;
                    border-radius:$bor_rad;
                   }
                }
                .courses_price
                {
position: absolute;
bottom: 20px;
right: 20px;
                }
                .courses_user
                {
position: absolute;
bottom: 20px;
left: 20px;
                }
                .courses_content
                {
                    padding: $p;
                    h2 
                    {
                        font-size:1.2em;
                        margin-bottom: 12px;
                        margin-top: 5px;
                    }
                    p 
                    {
                        line-height: 22px;
                        font-size: .9em;
                    }
                }
                img:last-of-type 
                {
                    width: 40px;
                    height: 40px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    left: 20px;
                    top: 20px;
                    position: absolute;
                }
                img:first-of-type 
                {
                    width: 100%;
                    height: 50%;
                    border-top-left-radius:$bor_rad;
                    border-top-right-radius:$bor_rad;
                    left: 0px;
                    top: 0px;
                    // padding: $p;
                }
            }
        }
    }
}
//========================================================================================
@media (max-width:992px)
{
    .courses_all
{
    grid-template-columns: repeat(1 minmax(300px, 1fr));
    grid-template-rows: repeat(1, minmax(420px, 1fr));
    margin-left: 0px;
    margin: auto;
}
}
//========================================================================================
@import "./Media";